<form class="user-edit-container">
  <h2 class="mat-h2">Edycja użytkownika</h2>
  <div class="flex flex-h-between full-width">
    <mat-form-field class="flex-grow-1 margin-right-10">
      <input matInput placeholder="Login" value="{{user.login}}" [(ngModel)]="user.login" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <div class="flex flex-v-center flex-h-center flex-grow-1 margin-left-10">
      <button mat-flat-button color="primary" (click)="openChangePasswordDialog()">Zmień hasło</button>
    </div>
  </div>

  <div class="full-width flex flex-h-between">
      <mat-form-field class="margin-right-10">
        <input matInput placeholder="Imię" value="{{user.firstName}}"
               [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}"/>
      </mat-form-field>

      <mat-form-field class="margin-left-10">
        <input matInput placeholder="Nazwisko" value="{{user.lastName}}"
               [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}"/>
      </mat-form-field>
    </div>

    <div class="full-width flex flex-h-around margin-bottom-20">
      <mat-checkbox id="isActiveCheck" class="margin-right-10" color="primary" [checked]="user.isActive"
                    [(ngModel)]="user.isActive" [ngModelOptions]="{standalone: true}"
                    (change)="changeIsActiveValue($event)">Aktywny</mat-checkbox>
      <mat-checkbox id="isAdminCheck" class="margin-left-10" color="primary" [checked]="user.isAdmin"
                    [(ngModel)]="user.isAdmin" [ngModelOptions]="{standalone: true}"
                    (change)="changeIsAdminValue($event)">Administrator</mat-checkbox>
    </div>

  <div class="button-wrapper-center">
    <button submit mat-flat-button color="primary" [mat-dialog-close]="user"
            [disabled]="!validateUser(user)">Zapisz
    </button>
    <button reset mat-flat-button color="warn" (click)="onNoClick()">Anuluj</button>
  </div>

</form>
