@import 'src/app/styles/colors-fonts-themes.scss';

.recipe-details-container{

  .recipe-details-list-image-wrapper{
    display: flex;
    
    mat-list{
      width: 50%;
    }
    
    img{
      display: block;
      width: 50%;
    }
  }

  mat-list{
    padding: 0;

    mat-list-item{
      height: 25px;
      padding: 0;

      .mat-list-item-content{
        padding: 0;
      }
    }
  }

  button{
    display: block;
    margin: 0 auto;
  }
}
