<h2 class="mat-h2">Zmiana hasła</h2>
<mat-form-field appearance="outline" class="margin-bottom-20">
  <input matInput type="password" placeholder="Password" value="{{data.password}}"
         [(ngModel)]="data.password" [ngModelOptions]="{standalone: true}">
  <mat-error *ngIf="!validatePassword(data.password)">Hasło musi zawierać co najmniej 8 znaków</mat-error>
</mat-form-field>
<div class="button-wrapper-center">
  <button mat-flat-button color="primary" [disabled]="!validatePassword(data.password)" [mat-dialog-close]="data">Zapisz</button>
  <button mat-flat-button color="warn" (click)="onNoClick()">Anuluj</button>
</div>
