@import 'src/app/styles/common.scss';


.recipe-edit-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 90vh;

  .recipe-name-and-type-wrapper{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 1em;
  }

  .mat-h2{
    flex-grow: 1;
  }

  .drag-n-drop-element{
    flex-grow: 5;
  }

  .button-wrapper-center{
    flex-grow: 1;
  }
}

button{
  display: block;
  margin: 0 10px;
}

//position

