<div class="ingredient-amount-dialog-container">
  <h1 class="mat-h1">{{data.productname}}</h1>

  <div class="flex-around" mat-dialog-content>
    <mat-form-field>
      <input matInput type="number" min="0" placeholder="Ilość" value="{{data.amount}}" [(ngModel)]="data.amount"/>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Jednostka" [(ngModel)]="data.unit">
        <mat-option *ngFor="let unit of units" [value]="unit">
          {{unit}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="button-wrapper-center">
    <button mat-flat-button color="primary" [mat-dialog-close]="returnIngredient(data)" cdkFocusInitial>Dodaj</button>
    <button mat-flat-button color="warn" (click)="onNoClick()">Anuluj</button>
  </div>
</div>
