<div style="text-align:center">
  <app-header (logoutButtonClicked)="logout()"
              (scrollAction)="scrollTo($event)"
              [isLogged]="isLogged"
              [isAdmin]="hasAdminAccess"
              [userLogin]="userLogin">
  </app-header>

  <app-login-panel *ngIf="!this.isLogged" (StartLoginProcedure)="tryToLogUserIn($event)"></app-login-panel>

  <div class="wrapper" *ngIf="isLogged">
    <app-recipes-list id="recipes" [adminAccess]="hasAdminAccess"></app-recipes-list>
    <app-products-list id="products" [adminAccess]="hasAdminAccess"></app-products-list>
    <app-users-list id="users" *ngIf="hasAdminAccess"></app-users-list>
  </div>

  <router-outlet></router-outlet>
</div>
