<div style="text-align:center">
  <app-header (logoutButtonClicked)="logout()"
              [isLogged]="isLogged"
              [isAdmin]="hasAdminAccess"
              [userLogin]="userLogin">
  </app-header>

<!--  <app-login-panel *ngIf="!this.isLogged" (StartLoginProcedure)="tryToLogUserIn($event)"></app-login-panel>-->

<!--  <div class="wrapper" *ngIf="isLogged">-->
<!--    <app-users-list *ngIf="hasAdminAccess"></app-users-list>-->
<!--    <app-recipes-list [adminAccess]="hasAdminAccess"></app-recipes-list>-->
<!--    <app-products-list [adminAccess]="hasAdminAccess"></app-products-list>-->
<!--  </div>-->

  <router-outlet></router-outlet>
</div>
