<nav [ngClass]="getWindowScroll() > 0 ? 'scrolled' : ''">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 class="mat-h1 nav-header-title">Recipe Manager</h1>
      <div *ngIf="isLogged" fxShow="true" class="full-width flex flex-row">

        <div class="header-logout-wrapper flex flex-h-between flex-v-center">
          <span class="logged-user margin-right-10"> Zalogowany użytkownik: <strong>{{userLogin}}</strong> </span>
          <button mat-raised-button class="button-logout" (click)="callLogoutButtonClicked()" color="warn">
            <strong> Wyloguj </strong>
          </button>
        </div>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="isLogged" class="sub-header flex flex-h-around">
      <button mat-button (click)="callScrollAction('recipes')"> Przepisy </button>
      <button mat-button (click)="callScrollAction('products')"> Produkty </button>
      <button *ngIf="isAdmin" mat-button (click)="callScrollAction('users')">Użytkownicy</button>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
