@import 'src/app/styles/colors-fonts-themes.scss';
@import 'src/app/styles/common.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  margin-bottom: 50px;
  font-weight: bold;
}

mat-toolbar {
  height: auto;

  mat-toolbar-row{
    position: relative;

    &:first-child{
      z-index: 1;
      box-shadow: 0 5px 10px -5px #333;
    }
    &:last-child{
      z-index: 0;
    }
  }
}

.sub-header{
  background: #542f96;
  z-index: 0;

  button{
    color: white;
  }
}

button {
  padding: 0 20px;

  strong{
    font-size: 14px;
    font-weight: 600;
  }
}

p {
  font-family: 'Courier New', Courier, monospace;
  color: #666;
  font-weight: bold;
  font-size: 30px;
}

//
//.separator{
//  display: block;
//  border-right: 2px solid white;
//  padding-right: 10px;
//}
//
//.no-separator{
//  display: block;
//  border-right: none;
//  padding-right: 10px;
//}

.button-logout {
  color: white;
  height: 36.3px;
}

.menu-buttons-left {
  margin-left: 10px;
}

.header-logout-wrapper {
  margin-left: auto;
}

.logged-user {
  font-size: 0.75em;
  margin-right: 20px;
}
