<div class="list-wrapper">

  <h1 class="mat-h1">Użytkownicy</h1>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- name column -->
    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Login </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.login}} </mat-cell>
    </ng-container>

    <!-- protein column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Imię </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <!-- carbs column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <!-- fat column -->
    <ng-container matColumnDef="isActive">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Aktywny </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.isActive}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isAdmin">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Administrator </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.isAdmin}} </mat-cell>
    </ng-container>

    <!-- edit column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef mat-header> Edytuj</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-mini-fab class="button-edit bg-white" (click)="showUserEditDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- delete column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef mat-header> Usuń </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-mini-fab class="button-delete bg-white" color="warn" (click)="showUserDeleteConfirmationDialog(element)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </table>
  <mat-card *ngIf="isLoading" class="full-width flex flex-h-center">
    <mat-spinner color="primary" mode="indeterminate"></mat-spinner>
  </mat-card>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>

  <div class="button-wrapper-center">
    <button mat-raised-button color="primary" (click)="showUserEditDialog(emptyUser)">Dodaj nowego użytkownika
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
