::selection{
  background-color: rebeccapurple !important;
  color: white !important;
}

.button-wrapper-center{
  width: 100%;
  display: flex;
  justify-content: center;

  button{
    margin: 0 10px;
  }
}

.full-width {
  width: 100%;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.flex-center{
  justify-content: center;

}

.flex-around{
  justify-content: space-around;
}

.flex-between{
  justify-content: space-between;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

.flex-grow-10{
  flex-grow: 10;
}

.flex-grow-2{
  flex-grow: 2;
}

.flex-grow-1{
  flex-grow: 1;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-right-10{
  margin-right: 10px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

//.popup-container{
//  position: sticky;
//}
//
//.popup-header{
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//}
