.button-wrapper-center{
  width: 100%;
  display: flex;
  justify-content: center;

  button{
    margin: 0 10px;
  }
}

.full-width {
  width: 100%;
}

.flex-around{
  display: flex;
  justify-content: space-between;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}


//.popup-container{
//  position: sticky;
//}
//
//.popup-header{
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//}
