@import 'src/app/styles/colors-fonts-themes.scss';

.list-wrapper{
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;

    h1{
       text-align: left; 
    }

    mat-form-field{
        width: 100%;
    }

    table{
        width: 100%;
        margin: 0 auto;

        mat-cell, mat-header-cell{
            justify-content: center;
        }
        
        .button-delete{
            color: $redAction;
            box-shadow: none;
        }
    
        .button-edit{
            box-shadow: none;
        }
    
        .bg-white{
            background-color: white;
        }
    }

    mat-paginator{
      margin-bottom: 20px;
    }

}
