@import 'src/app/styles/colors-fonts-themes.scss';
@import 'src/app/styles/common.scss';

.list-wrapper {
  margin-top: 50px;
  width: 100%;
  padding: 20px;
  margin-bottom: 50px;

  h1 {
    text-align: left;
  }

  table {
    width: 100%;
    margin: 0 auto;

    mat-cell, mat-header-cell {
      justify-content: center;
    }
  }

  .button-delete {
    box-shadow: none;
  }

  .button-edit {
    box-shadow: none;
  }

  .bg-white {
    background-color: white;
  }
}

mat-paginator {
  margin-bottom: 20px;
}

::ng-deep .mat-form-field-wrapper {
  width: 100%;
  margin: 0 auto;
}

::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0;
}


