<div class="advanced-search-container">
  <h1 class="mat-h1">Wyszukiwanie zaawansowane</h1>
  <p class="mat-body-1">Wybierz składniki, które powinien zawierać przepis</p>

  <!-- Ingredient drag'n'drop -->
  <app-advanced-search-drag-n-drop class="drag-n-drop-element"  [details]="false" [ingredientsInput]="recipe.ingredients"></app-advanced-search-drag-n-drop>

  <!--#region Sumbit buttons -->
  <div class="button-wrapper-center">
    <button submit mat-flat-button color="primary" [mat-dialog-close]="recipe.ingredients" [disabled]="!validateIngredientList(recipe.ingredients)">Wyszukaj</button>
    <button reset mat-flat-button color="warn" (click)="onNoClick()">Anuluj</button>
  </div>
  <!--#endregion -->
</div>
